In [1]:
# 1. for loop
# 2. while loop

In [2]:
# 1. for loop

In [3]:
py_list = ['python','Java',2545,'ML','Pyspark',54647,'docker',654]

for items in py_list:
    if str(items).isalpha():
        print(items,end = ', ')

python, Java, ML, Pyspark, docker,

In [4]:
py = ['abc@gmail.com','bca@gmail.com','kjg@yahoo.com','shsgd@hotmail.com','ajhgd@gmail.com']

In [5]:
py

['abc@gmail.com',
 'bca@gmail.com',
 'kjg@yahoo.com',
 'shsgd@hotmail.com',
 'ajhgd@gmail.com']

In [6]:
for email in py:
    if email.endswith('gmail.com'):
        print(f"Valid :- {email}")
    else:
        print(f"invalid :- {email}")

Valid :- abc@gmail.com
Valid :- bca@gmail.com
invalid :- kjg@yahoo.com
invalid :- shsgd@hotmail.com
Valid :- ajhgd@gmail.com

In [7]:
for email in py:
    if email.endswith("gmail.com"):
        print(email)

abc@gmail.com
bca@gmail.com
ajhgd@gmail.com

In [8]:
for email in py:
    if 'gmail' in  email:
        print(email)

abc@gmail.com
bca@gmail.com
ajhgd@gmail.com

In [9]:
a = [12,325,54,3,53,543,56,54,87,95,63,74,34,653,65,37]

In [10]:
for i in a:
    if '3' in str(i):
        print(i,end = ' ')

325 3 53 543 63 34 653 37

In [11]:
for i in a:
    if i%2==0:
        print(f"Even No. {i}")
    else:
        print(f"Odd No. {i}")

Even No. 12
Odd No. 325
Even No. 54
Odd No. 3
Odd No. 53
Odd No. 543
Even No. 56
Even No. 54
Odd No. 87
Odd No. 95
Odd No. 63
Even No. 74
Even No. 34
Odd No. 653
Odd No. 65
Odd No. 37

In [12]:
for i in a:
    if i%2==0:
        print(f"Even No. {i}")
    elif i%2==1:
        print(f"Odd No. {i}")

Even No. 12
Odd No. 325
Even No. 54
Odd No. 3
Odd No. 53
Odd No. 543
Even No. 56
Even No. 54
Odd No. 87
Odd No. 95
Odd No. 63
Even No. 74
Even No. 34
Odd No. 653
Odd No. 65
Odd No. 37

In [13]:
py_list

['python', 'Java', 2545, 'ML', 'Pyspark', 54647, 'docker', 654]

In [14]:
for i in py_list:
    if str(i).isnumeric():
        print(i)

2545
54647
654

In [15]:
for i in range(1,5):
    print(i)

1
2
3
4

In [16]:
lst = list(range(1,10))

In [17]:
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
print(list(range(1,5)))

[1, 2, 3, 4]

In [19]:
nums = (10,20,30,40,50,60,70)

for i in nums:
    print(i)

10
20
30
40
50
60
70

In [20]:
for char in 'Hello':
    print(char)

H
e
l
l
o

In [21]:
lst_dict = {1:'one',2:'two',3:'three',4:'four'}

for i in lst_dict.items():
    print(i,end = ' ')

(1, 'one') (2, 'two') (3, 'three') (4, 'four')

In [22]:
for k,v in lst_dict.items():
    print('Key :-',+ k,'value :- '+ v)

Key :- 1 value :- one
Key :- 2 value :- two
Key :- 3 value :- three
Key :- 4 value :- four

In [23]:
f_dict = {'apple': '10 kg','banana':'2 dozzen','mango':'2 kg'}

for k,v in f_dict.items():
    print('Fruits :-'+ k, 'Qty :-'+v)

Fruits :-apple Qty :-10 kg
Fruits :-banana Qty :-2 dozzen
Fruits :-mango Qty :-2 kg

In [24]:
f_dict

{'apple': '10 kg', 'banana': '2 dozzen', 'mango': '2 kg'}

In [25]:
for i in range(1,5):
    if i>3:               # when value of i is greater than two its break and stop iterator
        break
    print(i)

1
2
3

In [26]:
for i in range(1, 10):
    if i > 5:
        continue
    print(i)

1
2
3
4
5

In [27]:
for i in range(10):
    print(i)
else:
    print('end of block')

0
1
2
3
4
5
6
7
8
9
end of block

In [28]:
for x in range(1,10):
    for y in range(1,3):
        print('x = ', x, ', y = ', y)

x =  1 , y =  1
x =  1 , y =  2
x =  2 , y =  1
x =  2 , y =  2
x =  3 , y =  1
x =  3 , y =  2
x =  4 , y =  1
x =  4 , y =  2
x =  5 , y =  1
x =  5 , y =  2
x =  6 , y =  1
x =  6 , y =  2
x =  7 , y =  1
x =  7 , y =  2
x =  8 , y =  1
x =  8 , y =  2
x =  9 , y =  1
x =  9 , y =  2

In [29]:
# 2. while loop

In [39]:
i = 1
while i<=20:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [41]:
i = 1

while i <= 15:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
flag = True

while flag:
    a = int(input('enter the first nummber: '))
    b = int(input('enter the second number: '))
    c = a+b
    print(f"addition of {a} and {b} is {c}")
    choice = input('do you have want to continue[y|n]: ')
    
    if choice =='n':
        print('Thanks for visitng')
        flag = false

In [7]:
i= 1

while i<=20:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [13]:
num = 0

while num <5:
    num=num+1
    print(num)

1
2
3
4
5

In [10]:
num =0

while num < 5:
    num = num + 1
    print('num = ', num)

num =  1
num =  2
num =  3
num =  4
num =  5

In [18]:
i = 1

while i<15:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [24]:
p = ['Python','Ml','SQL','Java','CSS','HTML']

for i in p:
    if i == 'Java':
        break       #---it will terminate loop
    else:
        print(i)

Python
Ml
SQL

In [29]:
items = [124,654,54,658,478,24,65,'sdf',55,25,'agdh',356,4,25]

for i in items:
    if str(i).isnumeric():
        print("valid id---{}".format(i))
    else:
        print("invalid id---{}".format(i))
        break

valid id---124
valid id---654
valid id---54
valid id---658
valid id---478
valid id---24
valid id---65
invalid id---sdf

In [31]:
for prd in items:
    if str(prd).isnumeric():
        print("valid {}".format(prd))
    else:
        print("invlid {}".format(i))
        break

valid 124
valid 654
valid 54
valid 658
valid 478
valid 24
valid 65
invlid sdf

In [33]:
for prd in items:
    if str(prd).isnumeric():
        print("valid {}".format(prd))
    else:
        #print("invlid {}".format(i))
        continue

valid 124
valid 654
valid 54
valid 658
valid 478
valid 24
valid 65
valid 55
valid 25
valid 356
valid 4
valid 25

In [44]:
i = 0

while i<=len(items)-1:
    if str(items[i]).isnumeric():
        print(items[i])
    i=i+1

124
654
54
658
478
24
65
55
25
356
4
25

In [37]:
for prd in items:
    if str(prd).isnumeric():
        print("valid {}".format(prd))
    else:
        print("invlid {}".format(i))
        break

valid 124
valid 654
valid 54
valid 658
valid 478
valid 24
valid 65
invlid 0

In [46]:
i = 0

while i < 5:
    if i ==3:
        break
    i+=1
    print(i)

1
2
3

In [57]:
i = 0

while i<=15:
    if i==10:
        break
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [60]:
num = 0

while num < 5:
	num += 1   # num += 1 is same as num = num + 1
	if num > 3: # condition before exiting a loop
		continue
	print('num = ', num)

num =  1
num =  2
num =  3

In [61]:
num = 0

while num < 15:
	num += 1   # num += 1 is same as num = num + 1
	print('num = ', num)
else:
    print('else block executed')

num =  1
num =  2
num =  3
num =  4
num =  5
num =  6
num =  7
num =  8
num =  9
num =  10
num =  11
num =  12
num =  13
num =  14
num =  15
else block executed

In [62]:
num=0
count=0
sum=0

while num>=0:
    num = int(input('enter any number .. -1 to exit: '))
    if num >= 0:
        count = count + 1 # this counts number of inputs
        sum = sum + num # this adds input number cumulatively.
avg = sum/count
print('Total numbers: ', count, ', Average: ', avg)

enter any number .. -1 to exit: 10
enter any number .. -1 to exit: 20
enter any number .. -1 to exit: 32
enter any number .. -1 to exit: 22
enter any number .. -1 to exit: 22
enter any number .. -1 to exit: 1
enter any number .. -1 to exit: 1
enter any number .. -1 to exit: 2
enter any number .. -1 to exit: -1
Total numbers:  8 , Average:  13.75

In [64]:
num = 0
count = 0
sum = 0

while num >= 0:
    num = int(input('enter any number--,1 to exit  '))
    if num >= 0:
        count = count+1
        sum = sum+num
avg = sum/num

enter any number--,1 to exit  15
enter any number--,1 to exit  10
enter any number--,1 to exit  10
enter any number--,1 to exit  10
enter any number--,1 to exit  10
enter any number--,1 to exit  55
enter any number--,1 to exit  -1

In [2]:
a = 0

while a <= 15:
    if a==7:
        break
    a=a+1
    print(a)

1
2
3
4
5
6
7