In [1]:
# for Loops

In [13]:
py_lst = {'Python',45,'Hadoop''1515','15158998','ML','Scala'}

In [14]:
py_lst = {'Python',45,'Hadoop''1515','15158998','ML','Scala'}
for items in py_lst:
    if items.isalpha():
        print(items)

Scala
ML

AttributeError: 'int' object has no attribute 'isalpha'

In [15]:
py_lst

{'15158998', 45, 'Hadoop1515', 'ML', 'Python', 'Scala'}

In [16]:
py_lst = ['Python',45,'Hadoop''1515','15158998','ML','Scala']

In [17]:
py_lst

['Python', 45, 'Hadoop1515', '15158998', 'ML', 'Scala']

In [24]:
for i in py_lst:
    if str(i).isnumeric():
        print(i)

45
15158998

In [25]:
email = ['rosh@gmail.com','ahja@yahoo.com','fsgsf@hotmail.com','jsgjgj@gmail.com','sghsgh@gmail.com']

In [32]:
for i in email:
    if i.endswith('gmail.com'):
        print(i)

rosh@gmail.com
jsgjgj@gmail.com
sghsgh@gmail.com

In [36]:
for i in email:
    if i.endswith('gmail.com'):
        print(f'valid:- {i}')
    else:
        print(f'invalid:- {i}')

valid:- rosh@gmail.com
invalid:- ahja@yahoo.com
invalid:- fsgsf@hotmail.com
valid:- jsgjgj@gmail.com
valid:- sghsgh@gmail.com

In [37]:
email

['rosh@gmail.com',
 'ahja@yahoo.com',
 'fsgsf@hotmail.com',
 'jsgjgj@gmail.com',
 'sghsgh@gmail.com']

In [40]:
for i in email:
    if 'gmail' in i:
        print(i)

rosh@gmail.com
jsgjgj@gmail.com
sghsgh@gmail.com

In [43]:
a = [12,325,54,3,53,543,56,54,87,95,63,74,34,653,65,37]

for i in a:
    if '5' in str(i):
        print(i,end = ' ')

325 54 53 543 56 54 95 653 65

In [45]:
for i in a:
    if i % 2 == 0:
        print(f"even number {i}")
    else:
        print(f"odd number {i}")

even number 12
odd number 325
even number 54
odd number 3
odd number 53
odd number 543
even number 56
even number 54
odd number 87
odd number 95
odd number 63
even number 74
even number 34
odd number 653
odd number 65
odd number 37

In [46]:
lst = list(range(1,5))

In [47]:
lst

[1, 2, 3, 4]

In [48]:
for i in list(range(1,10)):
    print(i)

1
2
3
4
5
6
7
8
9

In [51]:
for i in 'Roshan':
    print(i,end=' ')

R o s h a n

In [52]:
lst_d = {'one':1,'two':2,'three':3,'four':4}

In [66]:
for k,v in lst_d.items():
    print('key:- '+k,'value:- '+ str(v))

key:- one value:- 1
key:- two value:- 2
key:- three value:- 3
key:- four value:- 4

In [81]:
for i in range(1,10):
    if i >5:
        continue
    print(i)

1
2
3
4
5

In [79]:
for i in range(1, 10):
    if i > 5:
        continue
    print(i)

1
2
3
4
5

In [88]:
for x in range(1,5):
    for y in range(1,3):
        print('x',x,'y',y)

x 1 y 1
x 1 y 2
x 2 y 1
x 2 y 2
x 3 y 1
x 3 y 2
x 4 y 1
x 4 y 2

In [89]:
py_dict = {'name':'Roshan','age': 29,'sal':75000,'id':2274}

In [102]:
for i in py_dict.keys():
    if i in ['name','age']:
        print(i,py_dict[i])

name Roshan
age 29

In [103]:
sqr = ['Roshan','Mohan','Heena','Ajay','Naman']

In [106]:
for i,square in enumerate(sqr):
    
    print(i,square)

0 Roshan
1 Mohan
2 Heena
3 Ajay
4 Naman

In [107]:
x = 5
while(x!=2):
    print(x)
    x= x-1

5
4
3

In [109]:
for i, x in enumerate(['A','B','C']):
    print(i,x*2)

0 AA
1 BB
2 CC

In [110]:
class Points(object):
  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

x= 2  y= 2

In [111]:
a=1

def do(x):
    return(x+a)

print(do(1))

2

In [112]:
lst = ['Geeks','for','Geeks']

for i in lst:
    print(i)

Geeks
for
Geeks

In [117]:
d = dict()

d['xyz'] = 123
d['abc'] = 325

for i in d.keys():
    print(i,d[i])

xyz 123
abc 325

In [120]:
s = 'knowledge'
for i in s:
    print(i,end = '-->\t')

k-->	n-->	o-->	w-->	l-->	e-->	d-->	g-->	e-->

In [121]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [125]:
def counts(x):
    for i in range(1,11):
        print(i*x)

In [129]:
counts(378)

378
756
1134
1512
1890
2268
2646
3024
3402
3780

In [134]:
for i in range(1,5):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3

In [135]:
fruits = ['orange','apple','grapes','banana']
colour = ['orange','red','green','yellow']

for fruit,color in zip(fruits,colour):
    print(fruit,'is',color)

orange is orange
apple is red
grapes is green
banana is yellow

In [136]:
name = ['Roshan','Mohan','Sneha','Rakesh','Yogesh']
age = [25,27,29,24,28]

for nm,ag in zip(name,age):
    print(nm,'age is',ag)

Roshan age is 25
Mohan age is 27
Sneha age is 29
Rakesh age is 24
Yogesh age is 28

In [137]:
name

['Roshan', 'Mohan', 'Sneha', 'Rakesh', 'Yogesh']

In [138]:
age

[25, 27, 29, 24, 28]

In [141]:
print(list(zip(name,age)))

[('Roshan', 25), ('Mohan', 27), ('Sneha', 29), ('Rakesh', 24), ('Yogesh', 28)]

In [142]:
dict(zip(name,age))

{'Roshan': 25, 'Mohan': 27, 'Sneha': 29, 'Rakesh': 24, 'Yogesh': 28}

In [143]:
lst = (('x',25),('y',30),('z',24),('a',26),('b',24),('c',29))

In [144]:
for a,b in lst:
    print(a,b)

x 25
y 30
z 24
a 26
b 24
c 29

In [146]:
for letter in 'geeksforgeeks':
    if letter == 'e' or letter == 's':
        continue
    print('current letter:-',letter)

current letter:- Roshan
current letter:- ajay
current letter:- Mohan
current letter:- Sohan
current letter:- 247
current letter:- 658

In [147]:
for letter in ['Roshan','ajay','Hello','Gello','Mohan','Sohan','Hello','247','658']:
    if letter == 'Hello' or letter == 'Gello':
        continue
    print('current letter:-',letter)

current letter:- Roshan
current letter:- ajay
current letter:- Mohan
current letter:- Sohan
current letter:- 247
current letter:- 658