In [1]:
# for Loops

In [13]:
py_lst = {'Python',45,'Hadoop''1515','15158998','ML','Scala'}

In [14]:
py_lst = {'Python',45,'Hadoop''1515','15158998','ML','Scala'}
for items in py_lst:
    if items.isalpha():
        print(items)

Scala
ML

AttributeError: 'int' object has no attribute 'isalpha'

In [15]:
py_lst

{'15158998', 45, 'Hadoop1515', 'ML', 'Python', 'Scala'}

In [16]:
py_lst = ['Python',45,'Hadoop''1515','15158998','ML','Scala']

In [17]:
py_lst

['Python', 45, 'Hadoop1515', '15158998', 'ML', 'Scala']

In [24]:
for i in py_lst:
    if str(i).isnumeric():
        print(i)

45
15158998

In [25]:
email = ['rosh@gmail.com','ahja@yahoo.com','fsgsf@hotmail.com','jsgjgj@gmail.com','sghsgh@gmail.com']

In [32]:
for i in email:
    if i.endswith('gmail.com'):
        print(i)

rosh@gmail.com
jsgjgj@gmail.com
sghsgh@gmail.com

In [36]:
for i in email:
    if i.endswith('gmail.com'):
        print(f'valid:- {i}')
    else:
        print(f'invalid:- {i}')

valid:- rosh@gmail.com
invalid:- ahja@yahoo.com
invalid:- fsgsf@hotmail.com
valid:- jsgjgj@gmail.com
valid:- sghsgh@gmail.com

In [37]:
email

['rosh@gmail.com',
 'ahja@yahoo.com',
 'fsgsf@hotmail.com',
 'jsgjgj@gmail.com',
 'sghsgh@gmail.com']

In [40]:
for i in email:
    if 'gmail' in i:
        print(i)

rosh@gmail.com
jsgjgj@gmail.com
sghsgh@gmail.com

In [43]:
a = [12,325,54,3,53,543,56,54,87,95,63,74,34,653,65,37]

for i in a:
    if '5' in str(i):
        print(i,end = ' ')

325 54 53 543 56 54 95 653 65

In [45]:
for i in a:
    if i % 2 == 0:
        print(f"even number {i}")
    else:
        print(f"odd number {i}")

even number 12
odd number 325
even number 54
odd number 3
odd number 53
odd number 543
even number 56
even number 54
odd number 87
odd number 95
odd number 63
even number 74
even number 34
odd number 653
odd number 65
odd number 37

In [46]:
lst = list(range(1,5))

In [47]:
lst

[1, 2, 3, 4]

In [48]:
for i in list(range(1,10)):
    print(i)

1
2
3
4
5
6
7
8
9

In [51]:
for i in 'Roshan':
    print(i,end=' ')

R o s h a n

In [52]:
lst_d = {'one':1,'two':2,'three':3,'four':4}

In [66]:
for k,v in lst_d.items():
    print('key:- '+k,'value:- '+ str(v))

key:- one value:- 1
key:- two value:- 2
key:- three value:- 3
key:- four value:- 4

In [81]:
for i in range(1,10):
    if i >5:
        continue
    print(i)

1
2
3
4
5

In [79]:
for i in range(1, 10):
    if i > 5:
        continue
    print(i)

1
2
3
4
5

In [88]:
for x in range(1,5):
    for y in range(1,3):
        print('x',x,'y',y)

x 1 y 1
x 1 y 2
x 2 y 1
x 2 y 2
x 3 y 1
x 3 y 2
x 4 y 1
x 4 y 2

In [89]:
py_dict = {'name':'Roshan','age': 29,'sal':75000,'id':2274}

In [102]:
for i in py_dict.keys():
    if i in ['name','age']:
        print(i,py_dict[i])

name Roshan
age 29

In [103]:
sqr = ['Roshan','Mohan','Heena','Ajay','Naman']

In [106]:
for i,square in enumerate(sqr):
    
    print(i,square)

0 Roshan
1 Mohan
2 Heena
3 Ajay
4 Naman

In [107]:
x = 5
while(x!=2):
    print(x)
    x= x-1

5
4
3

In [109]:
for i, x in enumerate(['A','B','C']):
    print(i,x*2)

0 AA
1 BB
2 CC

In [110]:
class Points(object):
  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

x= 2  y= 2

In [111]:
a=1

def do(x):
    return(x+a)

print(do(1))

2