In [1]:
# from Geeks for Gigs

In [3]:
str = "Geeks for Gigs"
print("Initial string:")
print(str)

print('\nfirst character of string:')
print(str[0])

print("\nlast character of string:")
print(str[-1])

str1 = "With Accessing Characters from a string, we can also reverse them"
print('This is original str:\n',str1)
print('\nThis is reverse string:\n',str1[::-1])

Initial string:
Geeks for Gigs

first character of string:
G

last character of string:
s
This is original str:
 With Accessing Characters from a string, we can also reverse them

This is reverse string:
 meht esrever osla nac ew ,gnirts a morf sretcarahC gnisseccA htiW

In [18]:
a = 'Hello This is Real world'
b = 'hello world'
c = ''.join(reversed(a))

print('original:-->\n',a)
print('\n1.reverse by slicing:-->\n',a[::-1])
print('\n2.reverse by using join and reverse:-->\n',c)

gh = ''.join(reversed(b))
print('\nby using join and reverse:-->\n',gh)

original:-->
 Hello This is Real world

1.reverse by slicing:-->
 dlrow laeR si sihT olleH

2.reverse by using join and reverse:-->
 dlrow laeR si sihT olleH

by using join and reverse:-->
 dlrow olleh

In [19]:
name = 'hello i am Roshan'
print('this is original:')
print(name)

this is original:
hello i am Roshan

In [20]:
lst = list(name)

In [25]:
print(lst)

['G', 'e', 'l', 'l', 'o', ' ', 'i', ' ', 'a', 'm', ' ', 'R', 'o', 's', 'h', 'a', 'n']

In [23]:
lst[0]='G'

In [27]:
str2 = ''.join(lst)

In [28]:
str2

'Gello i am Roshan'

In [ ]:
# Deleting/Updating from a String (
# Updation of character in string
str = 'Good This is Roshan'

sol = list(str)
# print(sol)
sol[2] = 'u'
sol2 = ''.join(sol)
print(sol2)

# by using join function

In [29]:
str = 'Good This is Roshan'
sol = str[0:2] + 'u' + str[3:]   # updating by using slicing
print(sol)
sol1 = 'M'+ str[1:]
print(sol1)

sol2 = str[0:5] + 'D' + str[6:]
print(sol2)
print(str)
del str

print(str)

Goud This is Roshan
Mood This is Roshan
Good Dhis is Roshan
Good This is Roshan
<class 'str'>

In [31]:
str = 'Good This is Roshan'

In [32]:
str

'Good This is Roshan'

In [33]:
del str

In [34]:
str

str

In [8]:
str_num = "\\101\\201\\305\\302\\309"

In [9]:
str_num

'\\101\\201\\305\\302\\309'

In [ ]:
# string format

In [12]:
str = "hello {} this is {}, meets to {}".format('Roshan','Ajay','Mohan') # by using default order

In [13]:
str

'hello Roshan this is Ajay, meets to Mohan'

In [16]:
new_line = "{2} and {0} and {1} are the best friends".format('Amol','Umesh','rahul')  # by using  index number

In [17]:
new_line

'rahul and Amol and Umesh are the best friends'

In [18]:
key_for = "{k} and {g} and {l} are the brilliant students".format(l = 'Akshay',k = 'Mohan',g= 'Ganesh') # by using keywords

In [27]:
str = ''
str1 = 'Roshan'

In [29]:
print(repr(str and str1))

''

In [31]:
print(repr(str1 and str))

''

In [19]:
key_for

'Mohan and Ganesh and Akshay are the brilliant students'